.font_bold {
    font-weight: bold;
}

.font_lessBold {
    font-weight:700;
}

.font_isLink {
    cursor:pointer;
}

.font_Biggest_Size {
    font-size: 30px;
}

.font_Big_Size {
    font-size: 26px;
}

.font_Primary_Size {
    font-size: 24px;
}

.font_Regular_Size {
    font-size: 20px;
}

.font_Secondary_Size {
    font-size: 18px;
}

.font_Info_Size {
    font-size: 16px;
}

.font_Last_Size {
    font-size: 14px;
}