/* 夜间主题风格 */


:root {

    /* 主题色 */
    --sm-main-color: rgb(242, 242, 242);
    --sm-smilesl-color: AliceBlue;
    --sm-smilesl-bgcolor: CornflowerBlue ;
    --sm-smilesl-selected-bgcolor: rgb(52, 96, 216);
    --sm-dark-color: rgba(31, 31, 31, .8);
    --sm-primary-color: rgb(153, 153, 153);
    --sm-secondary-color: #f4f4f4;
    --sm-frost-color: #447dda;

    /* 评论 */
    --sm-comment-bgcolor:rgba(31, 31, 31, .9);
    --sm-comment-line: 1px dashed #6b6b6b;
    --sm-comment-color: #999;
    --sm-comment-btncolor: #333;

    /* 文章列表 */
    --sm-title-color: #eeeeee;
    --sm-viceicon-color: #555;              /* # */
    --sm-page-line: 1px solid #202020;

    /* smilesl player */
    --player-color: white;
    --player-fontsize: 12px;
    --player-lrc-fontsize: 12px;
    --player-vicelrc-fontsize: 9px;    /* 副歌词大小 */
    --player-vicelrc-color: rgb(144, 144, 144);       /* 副歌词色彩 */

    /* progress */
    --progress-color: rgb(67, 109, 234);

    /* check button */
    --check-bgcolor: transparency;
    --check-selected-bgcolor: rgb(55, 55, 55);
    --check-border: 1px solid rgb(32, 32, 32);
    --check-radioCircle: rgb(66, 66, 66);

    /* 搜索框 */
    --sm-search-bgcolor: rgba(144, 144, 144, 0.2);
    --sm-search-color: #eeeeee;

    /* 导航栏 */
    --sm-navgition-bgcolor: #000;
    --sm-frost-navbgcolor: rgba(20, 20, 20, 0.9);
    --sm-frost-navshadow: 0px 2px 0px rgb(32, 19, 97);

}

/* 头部 */
.navgitionBar {
    color: var(--sm-main-color);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    /* box-shadow: 1px 1px 3px rgb(82, 82, 82); */
}

/* 分页按钮 */
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    margin: 0 5px;
    background-color: var(--sm-dark-color);
    color: var(--sm-main-color);
    min-width: 30px;
    border-radius: 2px;
}

/* 链接 */
a {
    text-decoration: none;
    color: var(--sm-primary-color);
}

a:hover {
    color: var(--sm-main-color);
}

.btn-base {
    cursor: pointer;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--sm-primary-color);
    background: #494949;
    transition: .3s;
}
.btn-base:hover {
    color: var(--sm-main-color);
    background: var(--sm-frost-color);
    box-shadow: 2px 1px 20px var(--sm-frost-color);
}
