/* theme */
@import './dark.css';


/* 功能样式 */
.sm-hide {
    display: none !important;
}
/* 分页样式 */
.el-pagination.is-background .el-pager li:not(.disabled).active {
    color: #FFF;
    background-color: var(--sm-smilesl-bgcolor) !important;
}
/* 控制图标 */
.ctl-icon {
    cursor: pointer;
    user-select: none;
}

/* 字体 */
.font-size-Primary {
    font-size: 16px;
}
.font-size-Regular {
    font-size: 14px;
}


/* 头部 */
.navgitionBar {
    color: var(--sm-main-color);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    /* box-shadow: 1px 1px 3px rgb(82, 82, 82); */
}

